.bg-primary {
    background-color: #f1ae45!important;
}

.bg-primary-gradient {
    background-image: linear-gradient(45deg, #f1ae45, #df9210, #f9ed4a)!important;
}

.text-pop {
    font-family: poppins!important;
}

.text-pop-bold {
    font-family: poppins-bold!important;
}

.text-pop-semibold {
    font-family: poppins-semibold!important;
}

.text-pop-italic {
    font-family: poppins-italic!important;
}

.text-ds {
    font-family: dancing-script!important;
}

.bg-image-1 {
    background-image: url('../images/produk/FPK2023101845-transparent.png')!important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

.container-overlay {
    background-color: rgba(87,60,35, 0.5);
    height: 80vh !important;
}

.border-primary {
    border-color: #f1ae45!important;
}

.btn-primary {
    background-color: #f1ae45!important;
    border: none!important;
}

.badge-primary {
    background-color: #f1ae45!important;
    border: none!important;
    color: #fff!important;
}

.btn-secondary {
    background-color: #f9ed4a!important;
    border: none!important;
    color: #573c23;
}

.bg-footer {
    background-color: #573c23!important;
}

#preloader {
    background: #f1ae45;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    justify-content: center!important;
    align-items: center!important;
}

.text-decoration-danger {
    text-decoration-color: red !important;
}

.mh-50 {
    max-height: 50vh!important;
}

.thumbnails {
    min-width: 18rem!important;
    min-height: min-content!important;
    max-width: 20rem!important;
    max-height: max-content!important;
}

.container-video {
    position: relative;
    display: flex;
    width: max-content;
    height: max-content;
    justify-content: center;
    align-items: center;
}
.container-video #video {
    width: 600px;
    height: 400px;
    border-radius: 20px;
}
.container-video .controls {
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    opacity: 0.2;
    transition: opacity 0.4s;
}
.container-video:hover .controls {
    opacity: 1;
}
.container-video .controls button {
    background: transparent;
    color: #fff;
    font-weight: bolder;
    text-shadow: 2px 1px 2px #000;
    border: none;
    cursor: pointer;
}
.container-video .controls .timeline {
    flex: 1;
    display: flex;
    align-items: center;
    border: none;
    border-right: 3px solid #ccc;
    border-left: 3px solid #ccc;
}
.container-video .controls .timeline .bar{
    background: rgb(1, 1, 65);
    height: 4px;
    flex: 1;
}
.container-video .controls .timeline .bar .inner{
    background: #ccc;
    width: 0%;
    height: 100%;
}

.user-avatar {
    width: 3rem!important;
    height: 3rem!important;
}

.fs-7 {
    font-size: smaller!important;
}